<!DOCTYPE html>
<html lang="fr">

	{% include "head.html" %}

	<body>

		{% include "header.html" %}

		{% block hero %}{% endblock hero %}

		<main id="main">
			</br></br>
			{% block about %}{% endblock about %}
			{% block steps %}{% endblock steps %}
			{% block features %}{% endblock features %}
			{% block services %}{% endblock services %}
			{% block portfolio %}{% endblock portfolio %}
			{% block degrees %}{% endblock degrees %}
			{% block contact %}{% endblock contact %}
		</main>

		{% include "footer.html" %}

		<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
			<i class="bi bi-arrow-up-short"></i>
		</a>

		{% include "scripts.html" %}

	</body>

</html>
