{% extends "base.html" %}
{% set degree_active = 'active' %}

{% block degrees %}
			<!-- ======= Portfolio Section ======= -->
			<section id="portfolio" class="portfolio section-bg">
				<div class="container">

					<h3 data-aos="fade-up">Diplômes
					<hr>
					</h3>

					<div class="row portfolio-container" data-aos="fade-up">

						{% for i in range(14) %}
						<div class="col-lg-4 col-md-6 portfolio-item filter-{{ degrees_type[degrees[i]].id }}">
							<div class="portfolio-wrap">
								<img src="assets/img/photos/degree{{ i+1 }}.jpg" class="img-fluid" alt="">
								<div class="portfolio-info">
									<h4>{{ degrees_type[degrees[i]].name }}</h4>
									<div class="portfolio-links">
										<a href="assets/img/photos/degree{{ i+1 }}.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{ degrees_type[degrees[i]].name }} {{ i+1 }}"><i class="bx bx-plus"></i></a>
										<a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}

					</div>

				</div>
			</section><!-- End Portfolio Section -->
{% endblock degrees %}

{% block degree %}
		<!-- <section id="degree" class="d-flex flex-column justify-content-center align-items-center"> -->
		<!-- 	<div class="container text-center text-md-left" data-aos="fade-up"> -->
		<!-- 		<h1>{{ title }}</h1> -->
		<!-- 		<h2>{{ slogan }}</h2> -->
		<!-- 		<a href="#about" class="btn-get-started scrollto">En savoir plus</a> -->
		<!-- 	</div> -->
		<!-- </section><!-1- End Hero -1-> -->
			<!-- ======= About Section ======= -->
			<section id="about" class="about">
				<div class="container">

					<div class="row">
						<div class="col-xl-6 col-lg-7" data-aos="fade-right">
							<img src="assets/img/photos/degrees.jpg" class="img-fluid" alt="">
						</div>
						<div class="col-xl-6 col-lg-5 pt-5 pt-lg-0">
							<h3 data-aos="fade-up">Dans les règles de l'art</h3>
							<!-- <div class="icon-box" data-aos="fade-up" data-aos-delay="200"> -->
							<!-- 	<i class="bx bx-cube-alt"></i> -->
							<!-- 	<h4>Quand me consulter?</h4> -->
							<!-- 	<p>Peu importe la fatigue au travail ou le stress que vous avez pendant la journée, je, en tant que votre thérapeute, suis heureuse de servir et prête à prendre soin de vous pour le soulagement et le bonheur pendant l’heure de massage.</p> -->
							<!-- </div> -->
							<p data-aos="fade-up">
							Venez bénéficier de notre expertise. Nous prenons soin de vous.
							</p>

						</div>
					</div>

				</div>
			</section><!-- End About Section -->
{% endblock degree %}

