		<!-- ======= Footer ======= -->
		<footer id="footer">
			<div class="footer-top">
				<div class="container">
					<div class="row">

						<div class="col-lg-4 col-md-3">
							<div class="footer-info">
								<img src="/assets/img/photos/icon-nobg.png" alt="" style="width: 50%; height: 50%"class="img-fluid"><br>
								<!-- <h3>{{ title }}</h3> -->
								<strong>Phone : </strong><a href="tel:{{ phone }}">{{ phone }}</a><br>
								<strong>Email : </strong><a href="mailto:{{mail}}">{{ mail }}</a><br>
								</p>
								<div class="social-links mt-3">
									<a href="{{ twitter }}" class="twitter"><i class="bx bxl-twitter"></i></a>
									<a href="{{ facebook }}" class="facebook"><i class="bx bxl-facebook"></i></a>
									<a href="{{ instagram }}" class="instagram"><i class="bx bxl-instagram"></i></a>
									<a href="{{ google_plus }}" class="google-plus"><i class="bx bxl-google-plus"></i></a>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-3 footer-links">
							<h4>Our services<h4>
							<ul>
								{% for service in services %}
								<li><i class="bx bx-chevron-right"></i> <a href="{{ path.service }}#{{ service.id }}">{{ service.name }}</a></li>
								{% endfor %}
							</ul>
						</div>

						<div class="col-lg-4 col-md-3 footer-links">
							<h4>Menu</h4>
							<ul>
								<li><i class="bx bx-chevron-right"></i> <a href="{{ path.home }}">Home</a></li>
								<li><i class="bx bx-chevron-right"></i> <a href="{{ path.service }}">Services</a></li>
								<li><i class="bx bx-chevron-right"></i> <a href="{{ path.degree }}">Degree</a></li>
							</ul>
						</div>


					</div>
				</div>
			</div>

			<div class="container">
				<div class="copyright">
					&copy; Copyright <strong><span>Marc Partensky</span></strong>. All rights reserved.
				</div>
				<div class="credits">
					Made by <a href="https://marcpartensky.com">Marc Partensky</a>
				</div>
			</div>
		</footer><!-- End Footer -->
