		<!-- ======= Header ======= -->
		<header id="header" class="fixed-top d-flex align-items-center">
			<div class="container d-flex justify-content-between">

				<div class="logo">
					<!-- <h1><a href="index.html">{{ title }}</a></h1> -->
					<!-- Uncomment below if you prefer to use an image logo -->
					<a href="{{ path.home }}"><img src="{{ icon }}" alt="" class="img-fluid"></a>
					<a href="/">
						<img id="french_flag" src="/assets/img/flags/french_flag.svg" width="20px" height="10px">
					</a>
					<a href="/en/">
						<img id="english_flag" src="/assets/img/flags/english_flag.svg" width="25px" height="10px">
					</a>
				</div>

				<nav id="navbar" class="navbar">
					<ul>
                        <li><a class="nav-link scrollto {{ home_active }}" href="{{ path.home.slug }}">{{ path.home.name }}</a></li>
                        <li><a class="nav-link scrollto {{ service_active }}" href="{{ path.service.slug }}">{{ path.service.name }}</a></li>
                        <li><a class="nav-link scrollto {{ degree_active }}" href="{{ path.degree.slug }}">{{ path.degree.name }}</a></li>
					</ul>
					<i class="bi bi-list mobile-nav-toggle"></i>
				</nav><!-- .navbar -->

			</div>
		</header><!-- End Header -->
