{% extends "base.html" %}
{% set home_active = 'active' %}

{% block hero %}
		<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
			<div id="hero1" class="container text-center text-md-left" data-aos="fade-up">
				<h1>{{ title }}</h1>
				<h2>{{ slogan }}</h2>
                <a href="#about" class="btn-get-started scrollto">{{ about }}</a>
			</div>
			<!-- <img id="hero2" src="/assets/img/photos/zany4.jpg"> -->
		</section><!-- End Hero -->
{% endblock hero %}

{% block about %}
			<!-- ======= About Section ======= -->
			<section id="about" class="about">
				<div class="container">

					<div class="row">
						<div class="col-xl-6 col-lg-7" data-aos="fade-right">
							<img src="/assets/img/photos/zany1.jpg" class="img-fluid" alt="">
						</div>
						<div class="col-xl-6 col-lg-5 pt-5 pt-lg-0">
							<div class="icon-box" data-aos="fade-up" style="margin: 10%">
								<i class="bx bx-receipt"></i>
                                <h3 data-aos="fade-up">{{ whoami.title }}</h3><br>
                                <h5 style="text-align: justify">{{ whoami.text }}</h5>
							</div>

						</div>
					</div>

				</div>
			</section><!-- End About Section -->
{% endblock about %}

{% block features %}
			<!-- ======= Features Section ======= -->
			<section id="features" class="features">
				<div class="container">

					<div class="row">
						<div class="col-lg-4 mb-5 mb-lg-0" data-aos="fade-right">
							<ul class="nav nav-tabs flex-column">
								{% for i, service in enumerate(services.values()) %}<li class="nav-item">
									<a class="nav-link {% if i==0 %}active show{% endif %}" data-bs-toggle="tab" href="#tab-{{ i }}">
										<h4>{{ service.name }}</h4>
										<p>{{ service.text }}</p>
									</a>
								</li>{% endfor %}
							</ul>
						</div>
						<div class="col-lg-7 ml-auto" data-aos="fade-left">
							<div class="tab-content">
								{% for i, service in enumerate(services.values()) %}<div class="tab-pane {% if i==0 %}active show{% endif %}" id="tab-{{ i }}">
									<figure>
										<img src="{{ services.image }}" alt="" class="img-fluid">
									</figure>
								</div>{% endfor %}
							</div>
						</div>
					</div>

				</div>
			</section><!-- End Features Section -->
{% endblock features %}

{% block figures %}
			<!-- ======= Portfolio Section ======= -->
			<section id="portfolio" class="portfolio section-bg">
				<div class="container">

					<div class="section-title" data-aos="fade-up">
						<h2>Figures</h2>
						<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
					</div>

					<!-- <div class="row" data-aos="fade-up"> -->
					<!-- 	<div class="col-lg-12 d-flex justify-content-center"> -->
					<!-- 		<ul id="portfolio-flters"> -->
					<!-- 			<li data-filter="*" class="filter-active">All</li> -->
					<!-- 			<li data-filter=".filter-figure">Figure</li> -->
					<!-- 		</ul> -->
					<!-- 	</div> -->
					<!-- </div> -->

					<div class="row portfolio-container" data-aos="fade-up">

						{% for i in range(1, 10) %}
						<div class="col-lg-4 col-md-6 portfolio-item filter-figure">
							<div class="portfolio-wrap">
								<img src="/assets/img/photos/figure{{ i }}.jpg" class="img-fluid" alt="">
								<div class="portfolio-info">
									<h4>Figure {{ i }}</h4>
									<p>Figure</p>
									<div class="portfolio-links">
										<a href="/assets/img/photos/figure{{ i }}.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Figure {{ i }}"><i class="bx bx-plus"></i></a>
										<a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}

					</div>

				</div>
			</section><!-- End Portfolio Section -->
{% endblock figures %}

{% block testimonials %}
			<!-- ======= Testimonials Section ======= -->
			<section id="testimonials" class="testimonials">
				<div class="container">

					<div class="section-title" data-aos="fade-up">
						<h2>Testimonials</h2>
						<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
					</div>

					<div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
						<div class="swiper-wrapper">

							<div class="swiper-slide">
								<div class="testimonial-item">
									<p>
									<i class="bx bxs-quote-alt-left quote-icon-left"></i>
									Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
									<i class="bx bxs-quote-alt-right quote-icon-right"></i>
									</p>
									<img src="/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
									<h3>Saul Goodman</h3>
									<h4>Ceo &amp; Founder</h4>
								</div>
							</div><!-- End testimonial item -->

							<div class="swiper-slide">
								<div class="testimonial-item">
									<p>
									<i class="bx bxs-quote-alt-left quote-icon-left"></i>
									Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
									<i class="bx bxs-quote-alt-right quote-icon-right"></i>
									</p>
									<img src="/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
									<h3>Sara Wilsson</h3>
									<h4>Designer</h4>
								</div>
							</div><!-- End testimonial item -->

							<div class="swiper-slide">
								<div class="testimonial-item">
									<p>
									<i class="bx bxs-quote-alt-left quote-icon-left"></i>
									Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
									<i class="bx bxs-quote-alt-right quote-icon-right"></i>
									</p>
									<img src="/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
									<h3>Jena Karlis</h3>
									<h4>Store Owner</h4>
								</div>
							</div><!-- End testimonial item -->

							<div class="swiper-slide">
								<div class="testimonial-item">
									<p>
									<i class="bx bxs-quote-alt-left quote-icon-left"></i>
									Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
									<i class="bx bxs-quote-alt-right quote-icon-right"></i>
									</p>
									<img src="/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
									<h3>Matt Brandon</h3>
									<h4>Freelancer</h4>
								</div>
							</div><!-- End testimonial item -->

							<div class="swiper-slide">
								<div class="testimonial-item">
									<p>
									<i class="bx bxs-quote-alt-left quote-icon-left"></i>
									Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
									<i class="bx bxs-quote-alt-right quote-icon-right"></i>
									</p>
									<img src="/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
									<h3>John Larson</h3>
									<h4>Entrepreneur</h4>
								</div>
							</div><!-- End testimonial item -->

						</div>
						<div class="swiper-pagination"></div>
					</div>

				</div>
			</section><!-- End Testimonials Section -->
{% endblock testimonials %}

{% block portfolio %}
			<!-- ======= Portfolio Section ======= -->
			<section id="portfolio" class="portfolio section-bg">
				<div class="container">

					<div class="section-title" data-aos="fade-up">
                        <h2>{{ positions }}</h2>
					</div>

					<!-- <div class="row" data-aos="fade-up"> -->
					<!-- 	<div class="col-lg-12 d-flex justify-content-center"> -->
					<!-- 		<ul id="portfolio-flters"> -->
					<!-- 			<li data-filter="*" class="filter-active">All</li> -->
					<!-- 			<li data-filter=".filter-app">App</li> -->
					<!-- 			<li data-filter=".filter-card">Card</li> -->
					<!-- 			<li data-filter=".filter-web">Web</li> -->
					<!-- 		</ul> -->
					<!-- 	</div> -->
					<!-- </div> -->

					<div class="row portfolio-container" data-aos="fade-up">

						{% for i in range(1, 10) %}
						<div class="col-lg-4 col-md-6 portfolio-item filter-app">
							<div class="portfolio-wrap">
								<img src="/assets/img/photos/hd{{ i }}.jpg" class="img-fluid" alt="">
								<div class="portfolio-info">
									<h4>Massage {{ i }}</h4>
									<p>Massage</p>
									<div class="portfolio-links">
										<a href="/assets/img/photos/hd{{ i }}.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Massage {{ i }}"><i class="bx bx-plus"></i></a>
										<a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}

					</div>

				</div>
			</section><!-- End Portfolio Section -->
{% endblock portfolio %}

{% block team %}
			<!-- ======= Team Section ======= -->
			<section id="team" class="team">
				<div class="container">

					<div class="section-title" data-aos="fade-up">
						<h2>Team</h2>
						<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
					</div>

					<div class="row">

						<div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
							<div class="member">
								<img src="/assets/img/team/team-1.jpg" class="img-fluid" alt="">
								<div class="member-info">
									<div class="member-info-content">
										<h4>Walter White</h4>
										<span>Chief Executive Officer</span>
									</div>
									<div class="social">
										<a href=""><i class="bi bi-twitter"></i></a>
										<a href=""><i class="bi bi-facebook"></i></a>
										<a href=""><i class="bi bi-instagram"></i></a>
										<a href=""><i class="bi bi-linkedin"></i></a>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
							<div class="member">
								<img src="/assets/img/team/team-2.jpg" class="img-fluid" alt="">
								<div class="member-info">
									<div class="member-info-content">
										<h4>Sarah Jhonson</h4>
										<span>Product Manager</span>
									</div>
									<div class="social">
										<a href=""><i class="bi bi-twitter"></i></a>
										<a href=""><i class="bi bi-facebook"></i></a>
										<a href=""><i class="bi bi-instagram"></i></a>
										<a href=""><i class="bi bi-linkedin"></i></a>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
							<div class="member">
								<img src="/assets/img/team/team-3.jpg" class="img-fluid" alt="">
								<div class="member-info">
									<div class="member-info-content">
										<h4>William Anderson</h4>
										<span>CTO</span>
									</div>
									<div class="social">
										<a href=""><i class="bi bi-twitter"></i></a>
										<a href=""><i class="bi bi-facebook"></i></a>
										<a href=""><i class="bi bi-instagram"></i></a>
										<a href=""><i class="bi bi-linkedin"></i></a>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
							<div class="member">
								<img src="/assets/img/team/team-4.jpg" class="img-fluid" alt="">
								<div class="member-info">
									<div class="member-info-content">
										<h4>Amanda Jepson</h4>
										<span>Accountant</span>
									</div>
									<div class="social">
										<a href=""><i class="bi bi-twitter"></i></a>
										<a href=""><i class="bi bi-facebook"></i></a>
										<a href=""><i class="bi bi-instagram"></i></a>
										<a href=""><i class="bi bi-linkedin"></i></a>
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>
			</section><!-- End Team Section -->
{% endblock team %}

{% block faq %}
			<!-- ======= F.A.Q Section ======= -->
			<section id="faq" class="faq section-bg">
				<div class="container">

					<div class="section-title" data-aos="fade-up">
						<h2>F.A.Q</h2>
						<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
					</div>

					<div class="faq-list">
						<ul>
							<li data-aos="fade-up">
								<i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Non consectetur a erat nam at lectus urna duis? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
								<div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
									<p>
									Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
									</p>
								</div>
							</li>

							<li data-aos="fade-up" data-aos-delay="100">
								<i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Feugiat scelerisque varius morbi enim nunc? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
								<div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
									<p>
									Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
									</p>
								</div>
							</li>

							<li data-aos="fade-up" data-aos-delay="200">
								<i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Dolor sit amet consectetur adipiscing elit? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
								<div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
									<p>
									Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
									</p>
								</div>
							</li>

							<li data-aos="fade-up" data-aos-delay="300">
								<i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
								<div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
									<p>
									Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in.
									</p>
								</div>
							</li>

							<li data-aos="fade-up" data-aos-delay="400">
								<i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
								<div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
									<p>
									Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque.
									</p>
								</div>
							</li>

						</ul>
					</div>

				</div>
			</section><!-- End F.A.Q Section -->
{% endblock faq %}

{% block contact %}
			<!-- ======= Contact Section ======= -->
			<section id="contact" class="contact">
				<div class="container">

					<div class="section-title" data-aos="fade-up">
						<h2>Contact</h2>
					</div>

					<div class="row no-gutters justify-content-center" data-aos="fade-up">

						<div class="col-lg-5 d-flex align-items-stretch">
							<div class="info">
								<div class="phone mt-4">
									<i class="bi bi-phone"></i>
                                    <h4>{{ phone_text}} :</h4>
									<p><a href="tel:{{ phone }}">{{ phone }}</a></p>
								</div>

							</div>

						</div>

					</div>

				</div>
			</section><!-- End Contact Section -->
{% endblock contact %}
