{% extends "base.html" %}
{% set service_active = 'active' %}

{% block about %}
			<!-- ======= About Section ======= -->
			<section id="about" class="about">
				<div class="container">
					<h3 data-aos="fade-right">Services<hr></h3>
                    <h5 data-aos="fade-right">{{ well_being }}</h5>
					<br>

					<div class="row">
						{% for id, service in services.items() %}
						<div id="{{ id }}" data-aos="fade-left" class="col-xl-6 col-lg-5 pt-5 pt-lg-0">
							<h4 style="left: 0">{{ service.name }}</h4>
							<img src="{{ service.image }}" class="img-fluid" alt="">
						</div>
						<div class="col-xl-6 col-lg-7" data-aos="fade-left">
							<br><br>
							<p style="font-size: 1.1rem; text-align: justify">{{ service.text }}<p>
						</div>
						{% if i!=5 %}
							<hr style="margin: 2rem">
						{% endif %}
					{% endfor %}
					</div>

				</div>
			</section><!-- End About Section -->
{% endblock about %}

{% block offers %}
			<!-- ======= Services Section ======= -->
			<section id="services" class="services section-bg">
				<div class="container">

					<div class="section-title" data-aos="fade-up">
						<h2>Services</h2>
						<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
					</div>

					<div class="row">
						<div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
							<div class="icon-box icon-box-pink">
								<div class="icon"><i class="bx bxl-dribbble"></i></div>
								<h4 class="title"><a href="">Lorem Ipsum</a></h4>
								<p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate</p>
							</div>
						</div>

						<div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
							<div class="icon-box icon-box-cyan">
								<div class="icon"><i class="bx bx-file"></i></div>
								<h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
								<p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla</p>
							</div>
						</div>

						<div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
							<div class="icon-box icon-box-green">
								<div class="icon"><i class="bx bx-tachometer"></i></div>
								<h4 class="title"><a href="">Magni Dolores</a></h4>
								<p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim</p>
							</div>
						</div>

						<div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
							<div class="icon-box icon-box-blue">
								<div class="icon"><i class="bx bx-world"></i></div>
								<h4 class="title"><a href="">Nemo Enim</a></h4>
								<p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum</p>
							</div>
						</div>

					</div>
				</div>
			</section><!-- End Services Section -->
{% endblock offers %}

{% block steps %}
			<!-- ======= Steps Section ======= -->
			<section id="steps" class="steps section-bg">
				<div class="container">

					<div class="row no-gutters">

						{% for service in services %}<div class="col-lg-4 col-md-6 content-item" data-aos="fade-in" data-aos-delay="{{ loop.index * 100 }}">
							<span>{{ loop.index }}</span>
							<h4>{{ service.name }}</h4>
							<p>{{ service.text }}</p>
						</div>{% endfor %}

					</div>

				</div>
			</section><!-- End Steps Section -->
{% endblock steps %}
